 .flex {
	 display: flex;
}
 .flex.row {
	 flex-direction: row;
}
 .flex.col {
	 flex-direction: column;
}
 .flex.flex-1 {
	 flex: 1;
}
 .flex.align-center {
	 align-items: center;
}
 .flex.align-start {
	 align-items: flex-start;
}
 .flex.align-end {
	 align-items: flex-end;
}
 .flex.justify-center {
	 justify-content: center;
}
 .flex.justify-evenly {
	 justify-content: space-evenly;
}
 .flex.justify-between {
	 justify-content: space-between;
}
 .flex.justify-end {
	 justify-content: flex-end;
}
 .relative {
	 position: relative;
}
 .absolute {
	 position: absolute;
}

 