.edit-or-create-tender{
	max-width: 1127px;
	margin: 13px auto 190px;
	padding: 36px 37px 32px 31px;
	background-color: #FFFFFF;
	overflow: hidden;
}
form.edit{
	gap: 16px;
	margin-bottom: 32px;
}
.save-btn{
	color: rgba(102, 103, 104, 0.6);
	gap: 15px;
	cursor: pointer;
}

.categories{
	flex-wrap: wrap;
	gap: 8px 12px;
	padding: 0 0 19px 0;
}
.category{
	max-height: 30px;

	background: rgba(199, 121, 208, 0.2);
	border-radius: 15px;
	padding: 2px 16px;
	
	gap: 10px;
	white-space: nowrap;
}
.edit-category .category{
	padding: 2px 37px 2px 16px;
}
.category.sub{
	background: rgba(254, 172, 94, 0.2);
}
.category img{
	cursor: pointer;
}
.clock-icon{
	margin-right: 14px;
	margin-top: 5.6px;
}
.btn{
	height: 30px;
	padding: 2px 16px 3px;
	background: #C779D0;
	color: #FFFFFF;
	white-space: nowrap;
	cursor: pointer;
}
.btn.sub{
	background: #FEAC5E;
	border-radius: 3px;
}
.label{
	color: rgba(102, 103, 104, 0.6);
}
.border{
	width: 1px;
	height: 48px;

	background: #C4C4C4;
	margin: 0 28px;
}

.textarea{
	line-height: 30px;
}
.textarea ul{
	gap: 8px;
	margin-top: 24px;
	margin-bottom: 20px;
	padding-left: 25px;
}
.textarea ul li::before{
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	left: -22px;
	top: 9px;

	border-radius: 50%;	
	background: #4BC0C8;
}
.files{
	gap: 24px;
	margin: 20px 0 27px;
}
.picture img{
	width: 200px;
	height: 240px;
	border-radius: 3px;
}
.close_btn{
	display: block;
	width: 17px;
	height: 17px;
	top: 12px;
	right: 12px;
	cursor: pointer;
}
.close_btn::before,
.close_btn::after{
	content: "";
	position: absolute;
	top: 45%;
	left: 50%;
	display: block;
	width: 21px;
	height: 2px;
	transform-origin: left;
}
.picture .close_btn::before,
.picture .close_btn::after{
	background: #FFFFFF;
}
.file .close_btn::before,
.file .close_btn::after{
	background: #4BC0C8;
}
.category .close_btn{
	width: 12px;
	height: 12px;
	top: 10px;
	right: 16px;
}
.category .close_btn::before,
.category .close_btn::after{
	width: 15px;
	background: #000000;
}
  
.close_btn::before{
	transform: rotate(45deg) translate(-50%);
}
.close_btn::after{
	transform: rotate(-45deg) translate(-50%);
}
.file{
	width: 200px;
	height: 240px;

	border: 2px solid #4BC0C8;
	border-radius: 3px;
}
.margin{
	margin: 8px 0 4px;
}

.drug-and-drop{
	width: 240px;
	height: 240px;

	border: 1px dashed #4BC0C8;
	border-radius: 3px;
}
.drug-and-drop img{
	width: 36px;
	height: 46px;
}
.select-file{
	width: 139px;
	height: 32px;

	border: 0.7px solid #4BC0C8;
	border-radius: 3px;

	color: #4BC0C8;
	cursor: pointer;
	margin: 14px 0 8px;
}

.buttons{
	gap: 30px;
	margin-bottom: 30px;
}
.buttons button{
	width: 320px;
	height: 48px;
	border-radius: 3px;
	cursor: pointer;
} 
.buttons button:first-child{
	border: 1px solid #4BC0C8;
	background: #FFFFFF;
	color: #4BC0C8;
}
.buttons button:last-child{
	background: #4BC0C8;
	color: #FFFFFF;
}


form.search img{
	top: 14.75px;
	left: 14.75px;
}
form.search input[type="text"]{
	width: 320px;
	height: 48px;

	color: #26292E;
	background: rgba(75, 192, 200, 0.5);
	border-radius: 3px;

	padding-left: 43px;
}
input.checkbox+label::before{
	min-width: 16px;
	width: 16px;
	height: 16px;
}
input.checkbox+label{
	align-items: start;
}
form.search ul,
.categories ul{
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #4BC0C8;
	box-sizing: border-box;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	padding: 20px 16px 15px;
	gap: 16px;
	z-index: 3;
}
form.search ul li,
.categories ul li{
	font-family: Open Sans;
	font-size: 13px;
	line-height: 18px;

	color: rgba(102, 103, 104, 0.6);
	gap: 8px;
	cursor: pointer;
}
form.search ul li.active,
.categories ul li.active{
	color: #000000;
}

.chat{
	border: 1px solid #BCB9B9;
	margin-top: 34px;
	background: #FFFFFF;
	z-index: 2;
}
.chats-list{
	width: 27.3%;
	border-right: 1px solid #BCB9B9;

}
.chats-list form img{
	top: 12.75px;
	left: 16.75px;
}
.chats-list form input[type='search']{
	width: 100%;
	height: 43px;

	background: #FFFFFF;
	box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.25);
	padding-left: 45px;
}
.chats-list ul{
	width: 100%;
	height: 600px;
	overflow: auto;
}
.chats-list ul li{
	padding: 14px 14px 15px 20px;
	border-bottom: 0.5px solid #BCB9B9;

}
.chats-list ul li.active{
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
	background: rgba(75, 192, 200, 0.37);
}
.chats-list ul li img{
	width: 48px;
	height: 48px;
	margin-right: 11.5px;
}
.chats-list ul li span.name{
	margin-bottom: 5px;
}
.chats-list ul li span.part-message{
	color: #6E7785;
	white-space: nowrap;
}
.chats-list ul li span.date{
	top: 8px;
	right: 8px;
}


.chat .header{
	background: #FFFFFF;
	box-shadow: inset 8px 0px 0px #4BC0C8, inset 0px -1px 0px #4BC0C8;
	padding: 13px 20px;
}
.chat .header ul{
	gap: 2.5px;
	margin: 0 7.33px 0 25.33px;
}
.chat-active{
	width: 72.7%;
}

.chat-window{
	height: 538px;
	padding: 17px;	
}
.chat-window .date{
	align-self: center;
	margin-bottom: 20px;
}
.chat-window .read{
	align-self: end;
	margin-top: 4px;
}
.chat-window .messages{
	gap: 20px;
}
.chat-window .message{
	max-width: 488px;


	padding: 16px 24px;
}
.chat-window .message.left{
	align-self: start;
	background: rgba(75, 192, 200, 0.15);
	border-radius: 20px 20px 20px 0px;
}
.chat-window .message.right{
	align-self: end;
	background: rgba(199, 121, 208, 0.15);
	border-radius: 20px 20px 0px 20px;
}

.chat form#send-message{
	border-top: 1px solid #BCB9B9;	
	padding: 7px 16px 7px 44px;
}
.chat form#send-message img{
	top: 16px;
	left: 17px;
}
.chat form#send-message button{
	width: 40px;
	height: 40px;

	border-radius: 50%;
	background: #4BC0C8;
	cursor: pointer;
}
.chat form#send-message textarea{
	width: 90%;
	height: 42px;
	padding: 10px 0;

	resize: none;
}
.text-red{
	color: #FF0D0D;
}
.add-company-btn{
	padding: 13px 70px;
	background: rgba(75, 192, 200, 0.5);
	border-radius: 3px;
	cursor: pointer;
}
.company-number{
	color: rgba(102, 103, 104, 0.6);
}

.elipce{
	border-radius: 50%;
	filter: blur(250px);
}
.elipce-1{
	width: 340px;
	height: 340px;

	bottom: -128px;
	right: 114px;
}
.elipce-2{
	width: 340px;
	height: 340px;

	bottom: 49px;
	left: -49px;
}
.elipce-3{
	width: 312px;
	height: 313px;
	
	bottom: 378px;
	right: -106px;
}
.elipce-4{
	width: 271px;
	height: 272px;

	bottom: 374px;
	left: -39px;
}
.elipce-5{
	width: 266px;
	height: 265px;

	bottom: 51px;
	right: -83px;
}
.elipce-6{
	width: 237px;
	height: 235px;

	bottom: 6px;
	left: 356px;
}
.orange{
	background: rgba(254, 172, 94, 0.6);
}
.blue{
	background: rgba(75, 192, 200, 0.3);
}
.purple{
	background: rgba(199, 121, 208, 0.3);
}